<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377442911143-c71rg788pp873thtaudcdspg7grguv13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377442911143-c71rg788pp873thtaudcdspg7grguv13</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>377442911143-g9kc3hef2mm0nerhsi8inkeaujh9u2vm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSgejAmebP77aps09jOl80iWUEO3guCSc</string>
	<key>GCM_SENDER_ID</key>
	<string>377442911143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.androidStudioProjectss</string>
	<key>PROJECT_ID</key>
	<string>bricks-5b1e9</string>
	<key>STORAGE_BUCKET</key>
	<string>bricks-5b1e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377442911143:ios:556940a93e9284fac0ec82</string>
</dict>
</plist>